[submodule "images/xpra/xpra-html5"]
	path = images/xpra/xpra-html5
	url = https://github.com/selkies-project/xpra-html5.git
[submodule "infra/turn/selkies-gstreamer"]
	path = infra/turn/selkies-gstreamer
	url = https://github.com/selkies-project/selkies-gstreamer.git
