# Generated resources
**/generated/
manifests/production-*
manifests/staging-*
manifests/testing-*

# Terraform stuff
**/.terraform*
**/terraform.tfstate*
**/terraform.tfvars

# Misc
my-images/
**/NOTES.md
deploy-*.sh

# Python stuff
**/__pycache__