[submodule "infra/turn/selkies-gstreamer"]
	path = infra/turn/selkies-gstreamer
	url = https://github.com/selkies-project/selkies-gstreamer.git
[submodule "images/xpra"]
	path = images/xpra
	url = https://github.com/selkies-project/selkies-xpra.git
