# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- $enableAppProxy := false }}
{{- if .AppParams.enableAppProxy }}
  {{- if eq .AppParams.enableAppProxy "true" }}
    {{- $enableAppProxy = true }}
  {{- end}}
{{- end}}

{{- if $enableAppProxy }}
###
# Add route for app proxy web interface
# This routes to the web service running in the app-proxy container.
###
- op: add
  path: /spec/http/0
  value:
    match:
      - uri:
          prefix: /{{.App}}/connect/
        headers:
          cookie:
            regex: ".*broker_{{.App}}={{.CookieValue}}.*"
    rewrite:
      uri: /
    route:
      - destination:
          host: {{.FullName}}-{{.ServiceName}}
          port:
            number: 8085
###
# Add route for app proxy websocket
###
- op: add
  path: /spec/http/0
  value:
    match:
      - uri:
          prefix: /{{.App}}/connect/proxy/
        headers:
          cookie:
            regex: ".*broker_{{.App}}={{.CookieValue}}.*"
    rewrite:
      uri: /proxy/
    route:
      - destination:
          host: {{.FullName}}-{{.ServiceName}}
          port:
            number: 8022
{{- else}}
# Cannot have empty patch, so this is effectively a no-op.
- op: test
  path: /spec/hosts/0
  value: "*"
{{- end}}