# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- $brokerRoute := "broker" }}
{{- if eq .AppSpec.Type "deployment" }}
  {{- $brokerRoute = "reservation-broker" }}
{{- end}}

###
# Patch the watchdog container
###
- op: add
  path: "/spec/template/spec/containers/1/env"
  value:
    - name: DISPLAY
      value: ":0"
    - name: BROKER_COOKIE
      value: "broker_{{.App}}={{.CookieValue}}"
    - name: BROKER_ENDPOINT
      value: "https://{{.SysParams.Domain}}/{{ $brokerRoute }}"
    - name: IN_CLUSTER_BROKER_ENDPOINT
      value: "http://istio-ingressgateway.istio-system.svc.cluster.local/{{ $brokerRoute }}"
    - name: BROKER_HOST
      value: "{{.SysParams.Domain}}"
    - name: IN_CLUSTER
      value: "true"
    - name: CLIENT_ID
      value: "{{.ClientID}}"
    - name: POD_USER
      value: "{{.User}}"
    - name: APP_NAME
      value: "{{.App}}"
    - name: WATCHDOG_TIMEOUT
      value: "{{default 600 .AppParams.idleShutdownTimeout}}"