# Copyright 2021 The Selkies Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- $webPreviewEnabled := false }}
{{- if .AppParams.enableWebPreview }}
  {{- if eq .AppParams.enableWebPreview "true"}}
    {{- $webPreviewEnabled = true }}
  {{- end}}
{{- end}}

{{- if $webPreviewEnabled }}

{{- $endpoint := printf "endpoints.%s.cloud.goog" .ProjectID }}
{{- $defaultPort3000 := printf "%s-port-3000.%s" .App $endpoint }}
{{- $defaultPort8000 := printf "%s-port-8000.%s" .App $endpoint }}
{{- $defaultPort8080 := printf "%s-port-8080.%s" .App $endpoint }}

{{- $hostPorts := dict 3000 (default $defaultPort3000 .AppParams.WebPreview3000) 8000 (default $defaultPort8000 .AppParams.WebPreview8000) 8080 (default $defaultPort8080 .AppParams.WebPreview8080) }}
###
# Add variables to desktop container containing endpoints for web preview urls.
###
{{- range $port, $host := $hostPorts}}
- op: add
  path: "/spec/template/spec/containers/0/env/-"
  value:
    name: WEB_PREVIEW_PORT_{{$port}}
    value: "https://{{$host}}/"
{{- end}}
{{- else}}
# Cannot have empty patch, so this is effectively a no-op.
- op: test
  path: /spec/template/spec/containers/0/name
  value: desktop
{{- end}}