# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- $enableIsolatedNetwork := false }}
{{- if .AppParams.enableIsolatedNetwork }}
  {{- if eq .AppParams.enableIsolatedNetwork "true" }}
    {{- $enableIsolatedNetwork = true }}
  {{- end}}
{{- end}}

{{- if $enableIsolatedNetwork}}
###
# Add multus annotation to pod.
###
- op: add
  path: "/spec/template/metadata/annotations/k8s.v1.cni.cncf.io~1networks"
  value: "{{.FullName}}-{{.ServiceName}}-weave"

###
# Add nodeSelector labels to pod spec to ensure Multus and Weave Net are ready before scheduling.
###
- op: add
  path: "/spec/template/spec/affinity/nodeAffinity/preferredDuringSchedulingIgnoredDuringExecution/-"
  value:
    weight: 100
    preference:
      matchExpressions:
        - key: cloud.google.com/gke-netd-ready
          operator: In
          values: ["true"]
        - key: weave.works/ds-ready
          operator: In
          values: ["true"]
        - key: multus.intel.github.io/ds-ready
          operator: In
          values: ["true"]

{{- else}}
# Cannot have empty patch, so this is effectively a no-op.
- op: test
  path: /spec/template/spec/containers/0/name
  value: desktop
{{- end}}