# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- $enableVirtualMouse := false }}
{{- if .UserParams.enableVirtualMouse }}
  {{- if eq .UserParams.enableVirtualMouse "true" }}
    {{- $enableVirtualMouse = true }}
  {{- end}}
{{- end}}

{{- if .AppParams.enableVirtualMouse }}
  {{- if eq .AppParams.enableVirtualMouse "true" }}
    {{- $enableVirtualMouse = true }}
  {{- end}}
{{- end}}

{{- if $enableVirtualMouse }}
###
# Add uinput.dev/mouse resource to xserver container
# Virtual uinput mouse for relative mouse motion
# control socket is shared with webrtc container.
###
- op: add
  path: /spec/template/spec/containers/3/resources/limits/uinput.dev~1mouse
  value: 1
###
# Add env var to webrtc container
###
- op: add
  path: "/spec/template/spec/containers/4/env/-"
  value:
    name: UINPUT_MOUSE_SOCKET
    value: /var/run/appconfig/mouse0ctl
{{- else}}
# Cannot have empty patch, so this is effectively a no-op.
- op: test
  path: /spec/template/spec/containers/0/name
  value: desktop
{{- end}}
