# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: StatefulSet
metadata:
   name: vdi
   annotations:
     gke.accel.vdi/user: "{{.User}}"
spec:
  template:
    metadata:
      annotations:
        gke.accel.vdi/user: "{{.User}}"
    spec:
      serviceAccount: {{.Namespace}}
      enableServiceLinks: false
      nodeSelector:
        app.broker/tier: {{ .NodeTier.NodeLabel }}
        cloud.google.com/gke-nodepool: "{{ .NodeTier.NodeLabel }}"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: app.broker/initialized
                    operator: In
                    values: ["true"]
      tolerations:
        - key: "app.broker/tier"
          effect: "NoSchedule"
          operator: "Exists"
        - key: "app.broker/node-init"
          effect: "NoSchedule"
          operator: "Exists"
      containers:
      - name: desktop
        # Replace image with user provided image from broker.
        image: {{.ImageRepo}}:{{.ImageTag}}
        # Allow entrypoint command override from app config spec.
        {{- if .AppParams.command}}
        command: ["/bin/bash", "-c"]
        args:
          - |
{{.AppParams.command | nindent 12}}
        {{- end}}
        env:
        - name: VDI_USER
          value: "{{.User}}"
        # Add the userParams to the env prefixed with VDI_
        {{- range $key, $value := .UserParams }}
        - name: VDI_{{ $key }}
          value: {{ quote $value }}
        {{- end}}
        # Add environment vars from brokerappconfig spec.
        {{- range $item := .AppSpec.AppEnv }}
        - name: {{$item.Name}}
          value: {{ quote $item.Value }}
        {{- end}}
      - name: xserver
        env:
        - name: VDI_USER
          value: "{{.User}}"
        {{- range $item := .AppSpec.AppEnv }}
        {{- if eq "RESOLUTION" $item.Name }}
        - name: {{ $item.Name }}
          value: {{ quote $item.Value }}
        {{- end}}
        {{- end}}
      - name: webrtc
        env:
        - name: APP_AUTO_INIT
          value: "{{default "true" .AppParams.appAutoInit}}"
        - name: ENABLE_AUDIO
          value: "{{.UserParams.enableAudio}}"
        {{- if .AppParams.enableClipboard }}
        - name: ENABLE_CLIPBOARD
          value: "{{.AppParams.enableClipboard}}"
        {{- end}}
        {{- if .UserParams.compat32 }}
        {{- if eq .UserParams.compat32 "true"}}
        - name: UINPUT_MOUSE_SOCKET
          value: "/var/run/appconfig/mouse0ctl"
        {{- end}}
        {{- end}}
        {{- range $item := .AppSpec.AppEnv }}
        {{- if hasPrefix "WEBRTC_" $item.Name }}
        - name: {{ $item.Name }}
          value: {{ quote $item.Value }}
        {{- end}}
        {{- end}}
