[Unit]
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/start_webrtc
Restart=always
RestartSec=2

[Install]
WantedBy=default.target