# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  # Generate stable ConfigMap names for compatability with the BrokerAppConfig configMapRef.
  disableNameSuffixHash: true

configMapGenerator:
  - name: webrtc-gpu-streaming-user-manifests-1.4.0
    files:
      - jsonpatch-service-selectors.yaml.tmpl
      - resource-vdi-service.yaml.tmpl
      - resource-vdi-virtual-service.yaml.tmpl
