[Desktop Entry]
Version=1.0
Name=Set Default DPI
Type=Application
Exec=/bin/bash -c '(xfconf-query -c xsettings -lv | grep -q '/Xft/DPI') || (xfconf-query -c xsettings -p /Xft/DPI -s 96 -t int --create)'
Terminal=false
StartupNotify=false
Hidden=false
